

{% extends 'admin/adbase.html' %}
        <!-- Begin Page Content -->
          
          {% block content %}

          
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Liste de savoirs</h1>
         



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h4 class="m-0 font-weight-bold text-primary">Vue sur le savoir  de {{savoir.user.username}}</h4>
     




              <div class="card" >
                <div class="card-body">
                  <h5 class="font-weight-bold mb-3">{{savoir.user.username}}  avec note de {{savoir.get_note()}}/10</h5>
                </div>
                <ul class="list-group list-group-flush">  


                  <li class="list-group-item">ModeTransmission : <span style="color: red;float: right;"> {{savoir.modeTransmission}} </span> </li>
                  <li class="list-group-item">AnimalCompagnie : <span style="color: red;float: right;"> {{savoir.animalCompagnie}} </span> </li>
                  <li class="list-group-item">maniereEviter : <span style="color: red;float: right;"> {{savoir.maniereEviter}} </span> </li>
                


                </ul>
                <div class="card-body">
                  <a href="#!" class="card-link">C</a>
                  <a href="#!" class="card-link">A</a>
                </div>
            </div>



       
          </div>




          {% endblock %}

        <!-- /.container-fluid -->

     

     {% block js %}

     {{super()}}

        <!-- Page level plugins -->
        <script src="{{url_for('static',filename='admin/vendor/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{url_for('static',filename='admin/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

        <!-- Page level custom scripts -->
        <script src="{{url_for('static',filename='admin/js/demo/datatables-demo.js')}}"></script>


     {% endblock %}