{% extends 'client/base.html' %}

{% block statsjs %}
{% endblock %}

{% block content %}

    <!-- amCharts includes --> 
    <script src="{{ url_for('static',filename='covid-charts-flask/deps/amcharts4/core.js')}}"></script>
    <script src="{{ url_for('static',filename='covid-charts-flask/deps/amcharts4/charts.js')}}"></script>

    <script src="{{ url_for('static',filename='covid-charts-flask/deps/amcharts4/maps.js')}}"></script>

    
    <script src="{{ url_for('static',filename='covid-charts-flask/deps/amcharts4/themes/dark.js')}}"></script>

    

    <script src="{{ url_for('static',filename='covid-charts-flask/deps/amcharts4/themes/animated.js')}}"></script>


    <script src="{{ url_for('static',filename='covid-charts-flask/deps/amcharts4-geodata/worldLow.js')}}"></script>

  <script src="{{ url_for('static',filename='covid-charts-flask/deps/amcharts4-geodata/data/countries2.js')}}"></script>


    <!-- DataTables includes -->
    <script src="{{ url_for('static',filename='covid-charts-flask/deps/jquery/jquery-3.3.1.min.js')}}"></script>
    
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='covid-charts-flask/deps/datatables/css/jquery.dataTables.min.css')}}" />

    

    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='covid-charts-flask/deps/datatables/css/select.dataTables.min.css')}}" />

    


    <script src="{{ url_for('static',filename='covid-charts-flask/deps/datatables/js/jquery.dataTables.min.js')}}"></script>
    

    <script src="{{ url_for('static',filename='covid-charts-flask/deps/datatables/js/dataTables.select.min.js')}}"></script>


    <!-- Data  -->
    <script src="{{ url_for('static',filename='covid-charts-flask/data/js/world_timeline.js')}}"></script>


    


    <script src="{{ url_for('static',filename='covid-charts-flask/data/js/total_timeline.js')}}"></script>


    <!-- Stylesheet -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='covid-charts-flask/examples/dashboard/dark.css')}}" />


    <!-- Main app -->
    <script src="{{ url_for('static',filename='covid-charts-flask/examples/dashboard/app.js')}}"></script>

  </head>


    <div style="background-color: #212327" class="flexbox">
      <div id="chartdiv"></div>
      <div id="list">
        <table id="areas" class="compact hover order-column row-border">
          <thead>
            <tr>
              <th>Pays/Ville</th>
              <th>Confirmés</th>
              <th>Morts</th>
              <th>Guéris</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  

  {% endblock %}